---
layout: archive
author_profile: true
---

<div class="entries-list">
  {% for post in paginator.posts %}
  <div class="list__item">
    <article
      class="archive__item"
      itemscope
      itemtype="https://schema.org/CreativeWork"
    >
      <h2 class="archive__item-title no_toc p-name" itemprop="headline">
        <a class="u-url" href="{{ post.url | relative_url }}" rel="permalink"
          >{{ post.title }}</a
        >
      </h2>
      {% include page__meta.html %} {% if post.excerpt %}
      <div class="archive__item-excerpt p-summary" itemprop="description">
        {{ post.excerpt }}
      </div>
      {% endif %}
      <p class="archive__item-more">
        <a href="{{ post.url | relative_url }}">Read more</a>
      </p>
    </article>
  </div>
  {% endfor %}
</div>

{% include paginator.html %}
